.square {
  background-color: greenyellow;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.square:hover {
  cursor: pointer;
  background-color: rgb(137, 204, 36);
}

.square.chosen {
  background-color: var(--main-orange-color);
}

.square.booked {
  background-color: var(--main-bg-color);
  pointer-events: none;
}
