.square {
  background-color: var(--available-green-color);
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.square:hover {
  cursor: pointer;
  background-color: rgb(174, 232, 58);
}

.square.chosen {
  background-color: var(--selected-blue-color);
}

.square.booked {
  background-color: var(--unavailable-gray-color);
  pointer-events: none;
}
